.videoplayer-line {
    width: 500px;
    height: 15px;
    background-color: #2b8222;
    margin-top: 30px;
    position: relative;
    top: -80px;
    left: 34px;
    opacity: 0;
}
.videoplayer-line-active {
    opacity: 1;
    animation: line 0.09s ease-in;
    margin-bottom: 0;
}
.videoplayer-line-state {
    width: 0px;
    height: 15px;
    background-color: #210d0d;
}
.play {
    margin-top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #978042;
    cursor: pointer;
    position: relative;
    top: -291px;
    left: 263px;
    display: none;
}
.play img {
    width: 15px;
    height: 15px;
}
@keyframes line {
    0% {
        top: -65px;
    }
    100% {
        top: -80px;
    }
}
@keyframes line2 {
    0% {
        top: -80px;
    }
    100% {
        top: -65px;
    }
}
video {
    overflow-y: hidden;
    width: 566px;
    height: 360px;
}
.block-none {
    width: 566px;
    height: 360px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Cambria",sans-serif;
    margin-bottom: 30px;
}
.videoplayer {
    display: flex;
    flex-direction: column;
    justify-content: end;
}