.audioplayer {
    width: 1072px;
    background-color: gray;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-x: hidden;
}
@keyframes name {
    0% {
        left: -80%;
    }
    100% {
        left: 80%;
    }
}
.audioplayer h1 {
    color: gray;
    position: relative;
    top: 12px;
    animation: name 18s linear infinite;
    left: 0;
    font-size: 22px;
    margin: 0;
    font-family: "Arial", sans-serif;
}
.audioplayer-line {
    width: 900px;
    height: 30px;
    position: relative;
    top: 24%;
    left: -56px;
    background-color: #fff;
}
.audioplayer-state {
    height: 30px;
    width: 0%;
    background-color: blue;
    display: flex;
    justify-content: end;

}

.audioplayer-play {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #6d5454;
    position: relative;
    top: -17px;
    left: 465px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.audioplayer-play:hover {
    transform: scale(1.2);
}

.audioplayer-management {
    display: flex;
    gap: 30px;
    margin: 30px 0;
}
.audioplayer-volume {
    position: relative;
    top: -117px;
    left: 34px;
}
.audioplayer-volume-line {
    height: 15px;
    width: 200px;
    background-color: #0ee291;
    border-radius: 10px;
}
.audioplayer-volume-state {
    height: 15px;
    width: 200px;
    background-color: #e2550e;
    z-index: -1;
    border-radius: 10px;
}
